<div class="login-card">
    <h2 class="login-card__title">Вход</h2>
    <form class="login-card__form">
        <label for="login" class="login-card__label">Логин</label>
        <input
                type="text"
                id="login"
                class="login-card__input"
                value="ivanivanov"
                placeholder="Логин"
        />

        <label for="password" class="login-card__label">Пароль</label>
        <input
                type="password"
                id="password"
                class="login-card__input"
                value="********"
                placeholder="Пароль"
        />

        <button type="submit" class="login-card__button">
            Авторизоваться
        </button>
    </form>
    <a href="#" class="login-card__register-link">Нет аккаунта?</a>
</div>