<div class="container">
    <div class="login">
        {{> Title title="Вход" }}

        <form class="login__form">

            <div class="login__form__input">
                {{> Input label="Логин" }}
                {{> Input label="Пароль" }}
            </div>
            <div class="login__form__button">
                {{> Button label="Авторизоваться" type="primary" }}
                {{> Button label="Нет аккаунта?" type="link" }}
            </div>

        </form>
    </div>
</div>