.login {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: 450px;
  text-align: center;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 130px;
    &__input {
      width: 100%;
    }
    &__button {
      width: 100%;
    }
  }
}

