<main>
    <div class="container">
        <div class="login">
            {{> Title title="Вход" }}
            <form class="login__form">
                <div class="login__form__input">
                    {{> Input label="Логин" name="login" type="text" }}
                    {{> Input label="Пароль" name="password" type="password" }}
                </div>
                <div class="login__form__button">
                    {{> Button label="Авторизоваться" class="primary" type="submit" }}
                    {{> Button label="Нет аккаунта?" class="link"  type="button" }}
                </div>
            </form>
        </div>
    </div>
</main>


