.button {
    background-color: initial;
    border: none;
    font-weight: 500;
    display: block;
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    cursor: pointer;
  &__primary {
    background-color: var(--main-color);
    color: #fff;
    font-size: 13px;
  }
  &__link {
    color: var(--main-color);
    font-size: 11px;
    text-align: center;
  }
  &-arrow {
    background-color: var(--main-color);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    &__left,
    &__right {
      margin: 0 auto;
      width: 11px;
      height: 1.6px;
      position: relative;
      background-color: #fff;
      &::after,
      &::before,
      &::after,
      &::before {
        content: "";
        background-color: #fff;
        display: inline-block;
        width: 7px;
        height: 1.6px;
        position: absolute;
      }
      &::after {
        transform: rotate(45deg);
        bottom: 2px;
      }
      &::before {
        transform: rotate(-45deg);
        top: 2px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 2px;
        left: -1px;
      }
      &::before {
        transform: rotate(45deg);
        top: 2px;
        left: -1px;
      }
    }
  }
}

