<ul class="nav">
    <li class="nav__item">
        <a class="nav__item__link" href="#" page="login">
            Login
        </a>
    </li>
    <li class="nav__item">
        <a class="nav__item__link" href="#" page="register">
            Register
        </a>
    </li>
    <li class="nav__item">
        <a class="nav__item__link" href="#" page="error">
            Error
        </a>
    </li>
    <li class="nav__item">
        <a class="nav__item__link" href="#" page="chat">
            Chat
        </a>
    </li>
    <li class="nav__item">
        <a class="nav__item__link" href="#" page="profile">
            Profile
        </a>
    </li>
</ul>