<main>
    <nav class="nav">
        <ul class="list">
            <li class="list__item">
                {{> Link page="login" name="Login" }}
            </li>
            <li class="list__item">
                {{> Link page="register" name="Register" }}
            </li>
            <li class="list__item">
                {{> Link page="error" name="Error" }}
            </li>
            <li class="list__item">
                {{> Link page="chat" name="Chat" }}
            </li>
            <li class="list__item">
                {{> Link page="profile" name="Profile" }}
            </li>
            <li class="list__item">
                {{> Link page="editData" name="Profile edit data" }}
            </li>
            <li class="list__item">
                {{> Link page="editPassword" name="Profile edit password" }}
            </li>
            <li class="list__item">
                {{> Link page="newAvatar" name="Profile new avatar" }}
            </li>
        </ul>
    </nav>
</main>



