<main class="profile">
    <aside class="profile__sidebar">
        <button class="profile__back-button" type="button">←</button>
    </aside>
    <!-- Форма для изменения пароля -->
    <div class="profile__main">
        <div class="avatar">
            <div class="avatar__inner">
                <img
                        class="avatar__img"
                        src="./public/avatar-icon.svg"
                        alt="Аватар-name"
                />
                <span class="avatar__change">Поменять аватар</span>
            </div>
            <div class="avatar__username">Иван</div>
        </div>
        <form class="profile__form">
            <div class="info">
                <label class="info__item">
                    Старый пароль
                    <input type="password" name="oldPassword" value="•••••••••" class="info__input" required />
                </label>
                <label class="info__item">
                    Новый пароль
                    <input type="password" name="newPassword" value="•••••••••" class="info__input" required />
                </label>
                <label class="info__item">
                    Повторите новый пароль
                    <input type="password" name="newPasswordRepeat" value="•••••••••" class="info__input" required />
                </label>
            </div>

            {{> Button label="Сохранить" class="primary" type="submit" }}
        </form>
    </div>
</main>
