<main>
    <div class="error">
        <div class="error__code">404</div>
        {{> Title title="Не туда попали" }}
        {{> Button label="Назад к чатам" class="link" type="button" }}
    </div>
</main>

